<html lang="fr">
<head>
    <title>Le raccourcisseur d'url pour les bobo écolos</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="main-form container max-w-[512px] m-auto justify-center flex flex-col">

    <div class="text-center my-8">
        <h1 class="text-xl text-center mb-8">Raccourcir une URL</h1>
        <p>Bienvenue sur notre raccourcisseur d'url</p>
        <p>Il suffit de saisir votre lien dans le champs ci-dessous et de cliquer sur le button</p>
        <p>Et paf ! Votre lien est raccourci.</p>
        <p>Le lien est valide pendant 6 mois.</p>
    </div>

    <div class="fixed top-4 right-4">
        {% if isLogged %}
            <button onclick="location.href='http://localhost:8000/disconnect'" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4
                focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 my-2 w-fit">Se déconnecter
            </button>
        {% else %}
            <button onclick="location.href='http://localhost:8000/login'" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4
                focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 my-2 w-fit">Se connecter
            </button>
        {% endif %}
    </div>
    <div class="fixed top-20 right-4">
        {% if isLogged %}
            <button onclick="location.href='http://localhost:8000/user/urls'" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4
                focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 my-2 w-fit">Mes URLS
            </button>
        {% endif %}
    </div>


    <form class="justify-center flex flex-col gap-4 mt-6" method="post" action="/create">
        <label>
            <input type="text" name="url" placeholder="https://www.example.com"
                   class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500
                   block w-full p-2.5 text-center" required/>
        </label>
        <input type="number" name="size" value="8" hidden>
        <input type="submit" style="align-self: center"
               class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4
                focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 my-2 w-fit" value="Raccourcir"/>
        {% if isLogged %}
            <fieldset>
                <legend>Choisissez une durée (facultatif):</legend>
                <div>
                    <input type="radio" id="1jour" name="duration" value="1"/>
                    <label for="1jour">1 jour</label>
                </div>
                <div>
                    <input type="radio" id="1sem" name="duration" value="7"/>
                    <label for="1sem">1 semaine</label>
                </div>
                <div>
                    <input type="radio" id="2sem" name="duration" value="14"/>
                    <label for="2sem">2 semaines</label>
                </div>
                <div>
                    <input type="radio" id="1mois" name="duration" value="30"/>
                    <label for="1mois">1 mois</label>
                </div>
                <div>
                    <input type="radio" id="2mois" name="duration" value="60"/>
                    <label for="2mois">2 mois</label>
                </div>
                <div>
                    <input type="radio" id="6mois" name="duration" value="180" checked/>
                    <label for="2mois">6 mois</label>
                </div>
                <div>
                    <input type="radio" id="1an" name="duration" value="365"/>
                    <label for="1an">1 an</label>
                </div>
                <div>
                    <input type="radio" id="5an" name="duration" value="1825"/>
                    <label for="5an">5 ans</label>
                </div>
                <div>
                    <input type="radio" id="10an" name="duration" value="3650"/>
                    <label for="10an">10 ans</label>
                </div>
            </fieldset>
        {% else %}
            <input type="radio" id="6mois" name="duration" value="180" checked hidden/>
        {% endif %}
    </form>
</div>
</body>
</html>